{
  "extends": ["standard", "plugin:unicorn/recommended", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "warn", "error", "debug"] }],
    "prettier/prettier": "error"
  }
}
